.fl{
	float:left;
	}
.fr{
	float:right;
	}
.clearfix:after{
	content:"";display:block;height:0;clear:both;
	}
.clearfix{
	zoom:1;
	}
.icon1{
	background:url(../images/suning.png) no-repeat;
	}
.icon2{
	background:url(../images/suning1.png) no-repeat;
	}
.auto{
	margin:0 auto;
	}
.xialasanjiao{
	width:7px;
	height:4px;
	background-position: left top;
	position: absolute;
	top:14px;
	right:0;
}

